{% extends "layout.html.twig" %}

{% block title %}
    Simpleduc
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1 class="text-dark">
            Simpleduc
        </h1>
        <h2 class="text-dark py-4">Affichage des entreprises sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Contact</th>
                <th scope="col">Modifier le contact ?</th>
              </tr>
            </thead>
            <tbody>
                {% for ligne in entreprise %}
                <tr>
                    <th scope="row">{{ ligne.IDEntre }}</th>
                    <td>{{ ligne.NomEntreprise }}</td>
                    <td>{{ ligne.NomContact }}</td>
                    <td><a href="?page=updateContact&identreprise={{ ligne.IDEntre }}&idcontact={{ ligne.IDPersonne }}">Modifier le contact ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}