{% extends "layout.html.twig" %}

{% block title %}
    Page Supprimer Personne
{% endblock %}

{% block content %}
<div class="bg-light rounded px-3 py-3">
    <div class="container">
        <h1>Supprimer une ou plusieurs Personne</h1>
    </div>
</div>
<div class="container mb-5">
    <form action="index.php?page=delPersonne" method="POST">
        <div class="mb-3">
            <label for="PersonneLabel" class="form-label">Choisir une Contrat à supprimer :</label>
            <div>
                <select class="form-select" name="personne" size="1">                    
                    {% for personne in personnes %}
                        <option value={{ personne.IDPersonne }}>{{ personne.Nom }} {{ personne.Prenom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div align="center">
            <button type="submit" onclick="return confirmerPersonne();" class="btn btn-primary" name="btnDelPersonne" href="">Supprimer une Personne</button>
        </div> 
    </form>


    <form action="index.php?page=delPersonne" method="POST">
        <div class="mb-3">
            <label for="PersonneLabel" class="form-label">Choisir plusieurs Personnes à supprimer :</label>
            <div>
                {% for personne in personnes %}
                    <input type="checkbox" name="personne[]" value={{ personne.IDPersonne }}>{{ personne.Nom }} {{ personne.Prenom }}<br>
                {% endfor %}
            </div>
        </div>
        <div align="center">
            <button type="submit" onclick="return confirmerPersonne();" class="btn btn-primary" name="btnDelPlusieursPersonnes" href="">Supprimer Plusieurs Personnes</button>
        </div> 
    </form>
</div>
{% endblock %}