{% extends "layout.html.twig" %}

{% block title %}
    Simpleduc
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1 class="text-dark">
            Simpleduc
        </h1>
        <h2 class="text-dark py-4">Affichage des Contrats sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DateSignature</th>
                <th scope="col">Cout Global</th>
                <th scope="col">Date de Début</th>
                <th scope="col">Date de Fin</th>
                <th scope="col">Contact</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Modifier ?</th>
              </tr>
            </thead>
            <tbody>
                {% for contrat in contrats %}
                <tr>
                    <th scope="row">{{ contrat.IDContrat }}</th>
                    <td>{{ contrat.DateSignature  | date("d-m-Y") }}</td>
                    <td>{{ contrat.CoutGlobal }}</td>
                    <td>{{ contrat.DateDebut  | date("d-m-Y") }}</td>
                    <td>{{ contrat.DateFin  | date("d-m-Y")}}</td>
                    <td>{{ contrat.NomContact }}</td>
                    <td>{{ contrat.NomEntreprise }}</td>
                    <td><a href="?page=updateContrat&id={{ contrat.IDContrat }}">Modifier ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-dark py-4">Affichage des Personnes sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Modifier ?</th>
              </tr>
            </thead>
            <tbody>
                {% for personne in Personnes %}
                <tr>
                    <th scope="row">{{ personne.IDPersonne }}</th>
                    <td>{{ personne.Nom }}</td>
                    <td>{{ personne.Prenom }}</td>
                    <td><a href="?page=updatePersonne&id={{ personne.IDPersonne }}">Modifier ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!---->


        <h2 class="text-dark py-4">Affichage des entreprises sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Modifier ?</th>
                <th scope="col">Voir ?</th>
              </tr>
            </thead>
            <tbody>
                {% for entreprise in entreprises %}
                <tr>
                    <th scope="row">{{ entreprise.IDEntre }}</th>
                    <td>{{ entreprise.Nom }}</td>
                    <td><a href="?page=updateEntreprise&idEntreprise={{ entreprise.IDEntre }}">Modifier ?</a></td>
                    <td><a href="?page=afficherOneEntreprise&idEntreprise={{ entreprise.IDEntre }}">Voir le contenu ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-dark py-4">Affichage des Contacts sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <!--<th scope="col">Modifier ?</th>-->
              </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <th scope="row">{{ contact.IDPersonne }}</th>
                    <td>{{ contact.Nom }}</td>
                    <!--<td><a href="?page=updateContact&id={{ contact.IDPersonne }}">Modifier ?</a></td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h2 class="text-dark py-4">Affichage des Outils sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Libelle</th>
                <th scope="col">Version</th>
                <th scope="col">Modifier ?</th>
              </tr>
            </thead>
            <tbody>
                {% for outil in outils %}
                <tr>
                    <th scope="row">{{ outil.Code }}</th>
                    <td>{{ outil.Libelle }}</td>
                    <td>{{ outil.Version }}</td>
                    <td><a href="?page=updateOutil&id={{ outil.Code }}">Modifier ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
        <h2 class="text-dark py-4">Affichage des Développeurs sous forme de Tableau</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Indice</th>
                <th scope="col">Modifier ?</th>
            </tr>
            </thead>
            <tbody>
                {% for dev in devs %}
                <tr>
                    <th scope="row">{{ dev.IDPersonne }}</th>
                    <td>{{ dev.NomPersonne }}</th>
                    <td>{{ dev.CoutHoraire }}</td>
                    <td><a href="?page=updateDev&id={{ dev.IDPersonne }}">Modifier ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="text-dark py-4">Affichage des Indices sous forme de Tableau</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cout Horaires</th>
                <th scope="col">Modifier ?</th>
              </tr>
            </thead>
            <tbody>
                {% for Indice in Indices %}
                <tr>
                    <th scope="row">{{ Indice.IDIndice }}</th>
                    <td>{{ Indice.CoutHoraire }}</td>
                    <td><a href="?page=updateIndice&id={{ Indice.IDIndice }}">Modifier ?</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}