{% extends "layout.html.twig" %}

{% block title %}
    Page Modification Personne
{% endblock %}

{% block content %}
<div class="bg-light rounded px-3 py-3">
  <div class="container">
    {% if updatePersonne == NULL %}
      <h1>L'élèment n'existe plus</h1>
    {% else %}
      <h1>Modifier les informations de la personne {{ updatePersonne.Nom }} {{ updatePersonne.Prenom }}</h1>
    {% endif %}
  </div>
</div>
<div class="container mb-5">
    {% if updatePersonne != NULL %}
    <form action="?page=updatePersonne&id={{ updatePersonne.IDPersonne }}" method="POST">
        <div class="mb-3">
            <label for="NomPersonne" class="form-label">Nom de la personne</label>
            <input type="text" class="form-control" id="NomPersonne" name="NomPersonne" value="{{ updatePersonne.Nom }}">
        </div>
        <div class="mb-3">
            <label for="PrenomPersonne" class="form-label">Prénom de la personne</label>
            <input type="text" class="form-control" id="PrenomPersonne" name="PrenomPersonne" value="{{ updatePersonne.Prenom }}">
        </div>
        <button type="submit" class="btn btn-primary" name="btnUpdPersonne">Modifier les informations de {{ updatePersonne.Nom }} {{ updatePersonne.Prenom }}</button> <!-- On va vouloir détecter quand on appuie-->
    </form> 
	{% endif %}    
</div>
{% endblock %}
